@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Hosting

@model List<ModCandidate>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="~/css/CanidateProfile.css" asp-append-version="true" />
</head>

<body>
    <div class="container mt-4">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@TempData["ErrorMessage"]!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div style="font-size: 20px; font-weight: 500; color: #31344b;">
            <h1>CONFIRMATION LOCAL</h1>
        </div>

        <div style="font-size: 20px; font-weight: 500; color: #31344b;">
            Once submitted, your vote is final. Please review your choices before submitting for transparency.
        </div>
    </div>

    <div class="container mt-4">
        <form method="post" asp-controller="Profile" asp-action="ConfirmationLocal">
            @if (Model != null)
            {
                <div class="d-flex flex-wrap">
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var candidate = Model[i];

                        <div>
                            <div class="wrapper" style="margin:5px">
                                <div class="img-area">
                                    <div class="inner-area">
                                        @if (!string.IsNullOrEmpty(@Model[i].Image))
                                        {
                                            <img src="~/images/@Model[i].Image" alt="Image Description" class="card-img-top">

                                        }
                                        else
                                        {
                                            <img src="https://as1.ftcdn.net/v2/jpg/02/42/45/90/1000_F_242459076_53ffNaKxcGS1ioScWiSt50e9ltwvynqt.jpg" alt="Image Description" class="card-img-top">
                                        }
                                    </div>
                                </div>

                                <div class="name">
                                    @candidate.CandidateName
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="hidden" asp-for="@Model[i].PKGUID" />
                                    <input type="hidden" asp-for="@Model[i].CandidateID" />
                                    <input type="hidden" asp-for="@Model[i].CandidateName" />
                                    <input type="hidden" asp-for="@Model[i].NominatedFor" />
                                    <input type="hidden" asp-for="@Model[i].Region" />
                                    <input type="hidden" asp-for="@Model[i].Email" />
                                    <input type="hidden" asp-for="@Model[i].ContactNo" />
                                    <input type="hidden" asp-for="@Model[i].Mobile" />
                                    <input type="hidden" asp-for="@Model[i].Address" />
                                    <input type="hidden" asp-for="@Model[i].Image" />
                                    <input disabled type="checkbox" class="form-check-input" asp-for="@Model[i].IsVote" id="castVote_@Model[i].PKGUID">
                                    <label class="form-check-label link-button" for="castVote_@Model[i].PKGUID">Cast Vote</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <h3>No selected candidates are available.</h3>
            }

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Submit &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</button>
            </div>
        </form>


        <form>
            <div class="text-center mt-4">
                <button method="get" type="submit" class="btn btn-success" asp-controller="Profile" asp-action="Local">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Back &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</button>          
            </div>
        </form>
    </div>
</body>
</html>