@model ModMember

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_VotingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheetmodified.css" asp-append-version="true" />
   
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header bg-primary text-white">
                        <strong>@Model.MemberName Profile</strong>
                    </div>
                    <div class="card-body">
                        <img src="https://as1.ftcdn.net/v2/jpg/02/42/45/90/1000_F_242459076_53ffNaKxcGS1ioScWiSt50e9ltwvynqt.jpg" alt="Default Image" class="circular-image">

                        <div class="profile-details">
                            <div class="profile-row">
                                <strong>Member ID:</strong> @Model.MemberID
                            </div>
                            <div class="profile-row">
                                <strong>Region:</strong> @Model.Region
                            </div>
                            <div class="profile-row">
                                <strong>Mobile:</strong> @Model.Mobile
                            </div>
                            <div class="profile-row">
                                <strong>Executive Council Vote:</strong> @Model.ExCouncilSeats
                            </div>
                            <div class="profile-row">
                                <strong>Local Council Vote:</strong> @Model.LcCouncilSeats
                            </div>
                            <div class="profile-row">
                                <strong>Address:</strong> @Model.Address
                            </div>





                            <div class="text-center">
                                <div class="row">
                                    <div class="col">
                                        <form method="get" asp-controller="Profile" asp-action="Executive" style="margin: 0;">
                                            <button type="submit" class="btn btn-primary" style="margin: 0;">Vote Executive Council</button>
                                        </form>
                                    </div>
                                    <div class="col">
                                        <form method="get" asp-controller="Profile" asp-action="Local" style="margin: 0;">
                                            <button type="submit" class="btn btn-primary" style="margin: 0;">&nbsp; Vote Local Council &nbsp;</button>
                                        </form>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>