@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc;

@model List<ModCandidate>

@{
    List<ModCandidate> l_ListModCandidate_Local = new List<ModCandidate>();
    l_ListModCandidate_Local = @Model;

    ModMember? l_ModLoggedInMember = (ModMember?)TempData["LoggedInMember"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheetmodified.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/images/background.webp" asp-append-version="true" />
</head>

<body>

    <div class="container mt-4">
        <h3 class="text-center">Local Canidates List</h3>
        <h4 class="text-center">@l_ListModCandidate_Local.First().Region Region</h4>
        <br />
        @{
            if (l_ModLoggedInMember != null)
            {
                <h4 class="text-center">Please Select Your @l_ModLoggedInMember.LcCouncilSeats Members</h4>
            }
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@TempData["ErrorMessage"]!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="row">
        </div>
    </div>

    <div class="container mt-4">
        <form method="post" asp-controller="Profile" asp-action="CastVoteLocal">

            @if (Model != null)
            {
                <div class="row card-container">
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var candidate = Model[i];
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <div class="card">
                                <div class="image-container">
                                    @if (!string.IsNullOrEmpty(@Model[i].Image))
                                    {
                                        <img src="~/images/@Model[i].Image" alt="Image Description" class="card-img-top">

                                    }
                                    else
                                    {
                                        <img src="https://as1.ftcdn.net/v2/jpg/02/42/45/90/1000_F_242459076_53ffNaKxcGS1ioScWiSt50e9ltwvynqt.jpg" alt="Image Description" class="card-img-top">
                                    }
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@candidate.CandidateID</h5>
                                    <p class="card-text">
                                        <strong>Member ID:</strong> @candidate.CandidateID<br>
                                        <strong>Mobile:</strong> @candidate.Mobile<br>
                                        <strong>Nominated For:</strong> @candidate.NominatedFor<br>
                                        <strong>Region:</strong> @candidate.Region
                                    </p>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="form-check form-check-inline">
                                        <input type="hidden" asp-for="@Model[i].PKGUID" />
                                        <input type="hidden" asp-for="@Model[i].CandidateName" />
                                        <input type="hidden" asp-for="@Model[i].NominatedFor" />
                                        <input type="checkbox" class="form-check-input" asp-for="@Model[i].IsVote" id="castVote_@Model[i].PKGUID">
                                        <label class="form-check-label link-button" for="castVote_@Model[i].PKGUID">Cast Vote</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <h3>No local candidates are available.</h3>
            }

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success">Submit Local Votes</button>
            </div>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>